* {
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
    font-size: 20px;
}

#results-display {
  color: red;
}

body {
  background-color: black;
  font-size: 10px;
}

p {
  color: white;
}

.target {
  font: white;  
  width: 5vw;
  height: 5vw;
  aspect-ratio: 1/1;
  font-size: 50px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid 1px red;
}

.target-word {
    color: white;
}

.guessed {
  width: 3vw;
  height: 3vw;
  font-size: 20px;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  text-align: center;
}

.guessed:hover {
    background: red;
}

.guessed-letters {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 20%;
  margin: 0 0 0 auto;
  text-align: center;
}

.guess-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0 20px 20px 0;
}
  
button:hover {
    cursor: pointer;
  }

.foodmanContainer {
  position: relative;
  width: 250px;
  height: 400px;
  max-width: 300px; 
  margin: 0 auto;
  overflow: hidden;
}

.foodmanImage {
  display: none;
  width: 250px;
  height: auto;
  bottom: 0;
  position: absolute;
}

#foodman2 {
  padding: 0 50px;
  width: 200px;
}

